# Visual Studio cache files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet packages
*.nupkg
*.snupkg
packages/

# Visual Studio Code
.vscode/

# Others
*.dbmdl
*.bak
*.backup
*.tmp
*.log
